.App {
}

.App-logo {
  align-self: flex-start;
  height: 10vmin;
  position: absolute;
  margin: 5px;
  left: 0;
  top: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List {
  width: 250;
}

.fullList {
  width: 'auto';
}

.App-link {
  color: #09d3ac;
}
